@import url('../base/var.css');

.anime__section{
    color: var(--text-color-alternative);
    position: relative;
}
/*Moris you to test this animation please,changed as more as u need mai broda*/
.anime__back_btn{
    display: block;
    padding: 10px 5px;
    color: var(--bg-items);
    position: sticky;
    top: 0px;
    background-color: rgba(48, 48, 48, 0.8);
    opacity: 0;
    visibility: hidden;
    transform: translateY(150px);
    z-index: 1;
    transition: opacity,transform 0.25s ease;
}
.anime__back_btn.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(70px);
    margin:unset;
}
/**/
.anime__banner{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: .5rem 0 1rem;
}

.anime__details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .8rem 0.5rem;
}

.anime__details-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.anime__details-fav{
    display: flex;
    align-self: center;
    justify-self: center;
    color: var(--alternatives-text-color);
    font-size: 1.5rem;
    transition: all .500ms ease;
}

.anime__details-fav:hover{
    color: var(--details);
    transform: scale(1.3);
}

.anime__details-status{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--alternatives-text-color);
}


.anime__synopsis{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem;
}

.anime__synopsis h4{
    font-size: 1.2rem;
    color: var(--text-color-alternative);
}


.anime__synopsis-paragraph{
    font-size: 1rem;
    padding: 0 0 0 .5rem;
    text-wrap: pretty;
}
.anime__title.not-auth{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    z-index: 1;
    padding: 10px 15px;
    color: var(--text-color);
    background: #333;
    border-radius: var(--border-rad);
}