@import url("../base/var.css");
.register{
 background: var(--bg-color-header);
 height: 100vh;
}
.register__banner{
    height: 200px;
    background: #d8d5d5;
}
.register__title{
    color: var(--text-color);
    text-align: left;
    margin: 5px 0px 10px 10px;
    padding: 5px;
}
.register__title-span{
    color: var(--icon-colors);
}
.register__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.register__form .container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
}
.register__p-tip{
    color: var(--alternatives-text-color);
    font-size: 12px;
    margin: 5px 0px;
    padding: 5px 0px;
    width: 86%;
}
.register__form .container .label{
    width: 86%;
}
.register__form .input{
    width: 90%;
}

@media screen and (min-width: 768px){
    .register__form{
        justify-content: center;
    }
    .register__title{
        text-align: center;
    }
    .register__form .container{
        width: unset;
        display: flex;
        align-items: flex-start;
    }
    .register__form .container .label{
        width: 0;
        padding-left: 5px;
    }
    .register__form .input{
        width: auto;
    }
}