:root{
    --text-color:#EAFDF8;
    --text-color-alternative: #1c1c1c;
    --alternatives-text-color:#bb93eb;
    --bg-color-header:#303030;
    --bg-items:#AFA2FF;
    --label-color:#afa2ff;
    --details: #642CA9;
    --icon-colors:#F6E528;
    --color-error: #a0402f;
    --color-success:#3b9c35;
    --hover-color:#AFA2FF;
    --border-rad: 5px;
    --boorder-rad-card:.3rem;
    --padd-input: 10px;
    --anchora-color:#AFA2FF;
    --anchora-hover:#7d4eb7;

    --btn-padding-mobile:7px 20px;
    --btn-color-bg:#642CA9;
    --btn-color-text:#EAFDF8;
}

