@import url("../base/var.css");


.btn{
    border: none;
    border-radius: var(--border-rad);
    padding: var(--btn-padding-mobile);
    color: var(--btn-color-text);
    background: var(--btn-color-bg);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.btn:hover{
    opacity: 0.7;
}

.btn:disabled{
    opacity: unset;
    cursor: auto;
    color: #59595b;
    background: transparent;
    border: 1px solid #59595b;
}