@import url("../base/var.css");


.btn{
    border: none;
    border-radius: var(--border-rad);
    padding: var(--btn-padding-mobile);
    color: var(--btn-color-text);
    background: var(--btn-color-bg);
}