@import url("../base/var.css");
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  
  .dropdown-menu ul {
    padding: 8px 0;
    margin: 0;
  }
  
  .dropdown-menu li {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover ,.dropdown-link:hover{
    background-color: #e4e0e0;
    color: var(--anchora-hover);
  }
  
  .dropdown-link{
    text-decoration: none;
    color:#333333;
    
  }