@import url('../base/var.css');


.header-section{
    margin: 1.5rem 0;
}

.header-section__nav{
    display: flex;
    justify-content: center;
}

.nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    overflow-x: scroll;
    padding: 0 .5rem;
}
.nav__list-li{
    padding: 1rem .5rem;
    position: relative;
    cursor: pointer;
}

.nav__list-li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid var(--details);
    width: 100%;
}

@media screen and (min-width: 768px){
    .nav__list{
        overflow-x: hidden;
    }
}