@import url("../base/var.css");
.header{
    background: var(--bg-color-header);
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.header__logo{
    margin: 0 10px;
    padding: 5px 10px;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__ul{
    display: flex;
}

.header__li{
    margin: 0 10px;
    padding: 5px 10px;
}
.header__li-icons{
    font-size: 20px;
    font-weight: normal;
}
.header__navlink{
    color: var(--text-color);
    font-weight: 600;
}

.header__navlink:hover{
    color: var(--icon-colors);
}


