@import url("./base/normalize.css");
@import url("./base/var.css");


.error{
    color: tomato;
    font-size: 12px;
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.wrap{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 1rem 0 1rem;
    gap: 1.8rem;
}


section{
    padding: 5rem 0 0 0;
}


  
