@import url("./base/normalize.css");
@import url("./base/var.css");


.error{
    color: tomato;
    font-size: 12px;
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.wrap{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 1rem 0 1rem;
    gap: 1.8rem;
}

.wrapper-grid{
    display: grid;
    grid-template-columns: repeat(4,max-content);
    place-content: center;
    gap: 1.8rem;
}
.wrapper-grid .noResult{
    grid-area: 1 / 1 / 2 / 4;
}
section{
    padding: 5rem 0 0 0;
}


  
@media screen and (max-width: 600px) {
    .wrapper-grid{
        grid-template-columns: repeat(2,max-content);
        gap: 1rem;

    }
    .nav__list{
        gap: 2rem;
    }
    .image-gallery-container .btn{
        padding: 5px 10px;
    }
    .btn_container {
        right: 10%;
    }
}